<app-nav
  *ngIf="router.url !== '/' && router.url !== '/login' && router.url !== '**'"></app-nav>
<body>
  <div class="row" style="height: 100vw">
    <div
      class="col-md-2 no-float"
      style="background-color: #007bff"
      *ngIf="router.url !== '/' && router.url !== '/login' && router.url !==
      '**'">
      <div class="row ml-3 p-4">
        <button class="btn btn-primary" (click)="routeTo('dashboard')">
          Dashboard
        </button>
      </div>
      <div class="row ml-3 p-4">
        <button class="btn btn-primary" (click)="routeTo('school')">
          Angular School
        </button>
      </div>
      <div class="row ml-3 p-4">
        <button class="btn btn-primary" (click)="routeTo('courses')">
          Courses
        </button>
      </div>

      <div class="row ml-3 p-4">
        <button class="btn btn-primary" (click)="routeTo('enrollment')">
          Enrollment
        </button>
      </div>
    </div>
    <div
      class="container"
      [ngStyle]="router.url !== '/' && router.url !== '/login' && router.url !==
      '**'
      ? 'mt-4'
      : 'col-md-9 no-float mt-4 ml-3 mr-3'">
      <router-outlet></router-outlet>
    </div>
  </div>

</body>
